@mixin btn-hover {
  // color: black;
  background-color: red;
  border-color: white;
  transform: scale(1.2);
}

$primary-color: #2f2f2f;

html {
  background-image: url('../assets/images/black-texture.jpg');
  background-size: 100%;
  color: rgb(255, 255, 255);
  height: -webkit-fill-available;
}

body {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow: hidden;
  h1,
  h2,
  h3 {
    font-family: 'PT Mono', monospace;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    user-select: none;
  }
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-family: 'Open Sans', sans-serif;
  }
}
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.nav-bar {
  position: fixed;
  user-select: none;
  z-index: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 60px;
  background-color: $primary-color;
  border-top: none;
  box-shadow: 2px 0 2px $primary-color;

  .time {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      margin: 2px 0;
      padding: 0 2px;
      font-size: 70%;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    color: white;
    height: 40px;
    width: 40px;
    border: 2px solid;
    border-color: red;
    border-radius: 8px;
    margin: 15px 15px;
    transition: all ease 300ms;
    &:hover {
      @include btn-hover;
    }

    .nav-icon {
      width: 30px;
      height: 30px;
      fill: white;
      pointer-events: none;
    }
  }

  .logo {
    justify-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: $primary-color;
    height: 40px;
    width: 40px;
    margin: 5px;
    border: solid 2px red;
    border-radius: 50%;
    transition: all ease 300ms;

    &:hover {
      @include btn-hover;
    }
    p {
      font-family: 'Bungee', cursive;
    }
  }
}

.section {
  position: fixed;
  top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  transform: translate(-150%, 0) scale(0);
  opacity: 0;
  transition: all ease 500ms;

  &-title {
    position: absolute;
    top: -23px;
    left: 50%;
    transform: translateX(-50%);
  }

  &-card {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 90%;
    margin: 0 5%;
    padding: 0 2%;
    border-top: 24px solid $primary-color;
    border-radius: 1px;
    box-shadow: 2px 2px 5px black;
    background-color: lighten($primary-color, 15%);

    .window-btn {
      position: absolute;
      height: 15px;
      right: 5px;
      top: -31px;
      display: flex;
      align-items: baseline;
      div {
        width: 20px;
        height: 20px;
        font-size: 2rem;
        border-radius: 1px;
        color: lighten($primary-color, 15%);
        user-select: none;
      }
      svg {
        fill: red;
        cursor: pointer;
      }
    }
  }
}

.profil {
  .section-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 90%;
    padding: 2% 0;
    overflow-x: hidden;
    &-head {
      opacity: 0;
      transform: translateX(150%);
      transition: transform 1500ms ease-out 200ms, opacity 3000ms 400ms;
      align-self: flex-end;
      text-align: end;
    }
    p {
      opacity: 0;
      transform: translateX(-150%);
      transition: transform 1500ms ease-out 150ms, opacity 3000ms 450ms;
      margin: 2% 0;
      padding: 1%;
      border-radius: 2px;
      overflow: auto;
    }
    .contact-links {
      opacity: 0;
      transition: opacity 2500ms 350ms;
      align-self: center;
      display: flex;
      a {
        margin: 0 20px;
        color: $primary-color;
      }
    }
  }
  img {
    max-height: 100%;
    width: auto;
    border-radius: 20px;
    box-shadow: 1px 1px 4px $primary-color;
  }
}

.skills {
  .section-card {
    justify-content: center;
  }
  .section-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    padding: 0 10%;
    opacity: 0;
    overflow-y: auto;
    transition: opacity ease 2500ms;
  }

  .skill-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 10%;
    height: 30%;
    margin: 0 7%;
  }
  .skill-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    background-image: url('../assets/icons/skills/Generica_25576.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 450ms 60ms;
    &:hover {
      transform: rotate(-2deg) scale(1.1);
    }

    svg {
      height: auto;
      max-width: 35%;
      fill: rgba(255, 255, 255, 0.719);
    }
  }
  p {
    position: relative;
    margin: 0;
  }
}

.projects {
  .section-card {
    padding: 0;
    margin: 0;
  }
  .section-content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: hidden;
    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      background-color: #2f2f2f;
      transition: all ease 600ms;
      &:hover {
        transform: scale(1.1);
      }
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
  .swiper-container {
    opacity: 0;
    transition: opacity ease-in-out 1850ms 100ms;
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }

  p {
    display: none;
  }
}

@media screen and (max-width: 520px) {
  body {
    flex-direction: column-reverse;
    h1 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 0.51rem;
    }
  }
  .section {
    height: 100%;
    position: fixed;
    top: 5px;
    &-card {
      top: -5%;
      width: 90%;
      height: 75%;
    }
    img {
      max-width: 40%;
      height: 60%;
    }
  }
  .nav-bar {
    flex-direction: row;
    z-index: 300;
    height: 60px;
    width: 100%;
    box-shadow: -2px 0 4px $primary-color;
    &-btn {
      display: flex;
    }

    .time {
      height: 100%;
      width: 40px;
    }
  }
  .skills {
    .section-content {
      justify-content: center;
    }
    .skill-container {
      width: 30%;
      height: 30%;
    }
  }

  .projects {
    .section-content {
      .card {
        width: 90%;
      }
      .swiper-slide {
        img {
          width: auto;
          max-height: 100%;
        }
      }
    }
  }
}
